div(class="eea-tile")
    a(class="eea-tileInner", title="${title}", href="${url}")
        div(class="eea-tileThumb")
            img(data-src="${thumbUrl}", alt="${title}" class="lazyLoad")
        div(class="eea-tileBody")
            p(class="eea-tileUrl")${url}
            strong(class="eea-tileType lazyLoad", title="${type}", data-src="${typeIcon}")
                span(class="eea-tileTypeIcon, eea-tileType-${typeClass}", title="${type}")
                ${type}
            h4(class="eea-tileTitle") ${title}
            div(class="eea-tileDescription") ${description}
            div(class="eea-tileMetadata")
                span(class="eea-tileTopic", title="${topics}") ${topics}
                time(class="eea-tileIssued", datetime="${date}") ${date}

