block card_view_template
    div(class="eea-tile")
        a(class="eea-tileInner", title="${result.title}", href="${result.url}")
            div(class="eea-tileThumb", style="background-image: url(${result.thumbUrl})")
                img(src="${result.thumbUrl}", alt="${result.title}")
            div(class="eea-tileBody")
                p(class="eea-tileUrl")${result.url}
                strong(class="eea-tileType", title="${result.type}", style="background-image: url(${result.typeIcon})")
                    span(class="eea-tileTypeIcon, eea-tileType-${result.typeClass}", title="${result.type}")
                    ${result.type}
                h4(class="eea-tileTitle") ${result.title}
                span(class="eea-tileTopic", title="${result.topics}") ${result.topics}
                time(class="eea-tileIssued", datetime="${result.date}") ${result.date}

