div(class="eea-tile")
    a(class="eea-tileInner", title="${title}", href="${url}")
        div(class="eea-tileThumb", style="background-image: url(${thumbUrl})")
            img(src="${thumbUrl}", alt="${title}")
        div(class="eea-tileBody")
            p(class="eea-tileUrl")${url}
            strong(class="eea-tileType", title="${type}", style="background-image: url(${typeIcon})")
                span(class="eea-tileTypeIcon, eea-tileType-${typeClass}", title="${type}")
                ${type}
            h4(class="eea-tileTitle") ${title}
            span(class="eea-tileTopic", title="${topics}") ${topics}
            time(class="eea-tileIssued", datetime="${date}") ${date}
