mixin tr_th_td(item, href_base, field_name, show_missing)
    if(item && item.value)
        tr(class=field_name)
            th= item.label
            if(item.link)
                td
                    +ext_link(item, href_base)
            else
                td
                    span(class="simple-value")= item.value
    else
        if(show_missing)
            tr(class=field_name)
                th= item.label
                td

mixin ext_link(item, href_base)
    a(href= href_base + item.link  title="go to source details" class="detail_extlink")= item.value

mixin detail_tables(section, data, href_base, show_missing)
    each section in sections
        div(class=section.name+"_container")
            if (section.title)
                h2= section.title
            table(class="item_detail_table datatable")
                colgroup
                    col(style="width: 25%")
                    col(style="width: 75%")
                each field in section.fields
                    +tr_th_td(data[field.name], href_base, field.name, show_missing)

mixin portal_breadcrumbs(parent_title, current_title)
        div(id="portal-breadcrumbs")
            span(id="breadcrumbs-you-are-here") You are here:
            span(id="breadcrumbs-home")
                a(href="http://www.eea.europa.eu/") Home
                span(class="breadcrumbSeparator")  /
            span(id="breadcrumbs-1")
                a(href="./")= parent_title
                span(class="breadcrumbSeparator")  /
            span(id="breadcrumbs-2")
                span(class="breadcrumbs-current")= current_title
