include ./mixins.jade

mixin tr_th_td(item, href_base, field_name, show_missing)
    if(item && item.value)
        tr(class=field_name)
            th= item.label
            if(item.link)
                td
                    +ext_link(item, href_base)
            else
                td
                    if (item.type == "img")
                        img(class="simple-img" src=item.value)
                    else
                        if (item.type == "link")
                            a(href= item.value  title= item.link_title class="simple_link")= item.link_label
                        else
                            span(class="simple-value")= item.value
    else
        if(show_missing)
            tr(class=field_name)
                th= item.label
                td

mixin ext_link(item, href_base)
    if(href_base)
        a(href= href_base + item.link  title="go to source details" class="detail_extlink")= item.value
    else
        a(href= item.link  title="go to source details" class="detail_extlink")= item.value

mixin detail_tables(section, data, href_base, show_missing)
    each section in sections
        div(class=section.name+"_container")
            if (section.title)
                h2= section.title
            table(class="item_detail_table datatable")
                colgroup
                    col(style="width: 25%")
                    col(style="width: 75%")
                each field in section.fields
                    +tr_th_td(data[field.name], href_base, field.name, show_missing)

